main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
hr{
  color: rgb(182, 179, 179);
}
footer{
  text-align: center;
}
.container{
  width: 600px;
  margin: 100px auto;
  padding: 16px 14px ;
  background-color: aliceblue;
}