*{
  box-sizing: border-box;
  
}

 
main{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  font-family: poppins, sans-serif;
  
}

footer{
  text-align: center;
  padding: 10px;
  font-family: monospace;
  font-size: 10px;
}
.container{
  max-width: 600px;
  width: 100%;
  margin: 70px auto;
  padding: 16px 14px ;
  background-color: aliceblue;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
}
input{
  padding: 0.8rem;
}
  
input[type=text]{
  width: 70%;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  
}
input[type=text]::placeholder{
  font-family: poppins, sans-serif;
  opacity: 0.6;
}

input[type=submit]{
  width: 20%;
  background-color: rgb(181, 248, 252);
  border: none;
  border-radius: 20px;
  color: rgb(10, 8, 8);
  font-family: poppins, sans-serif;
  font-weight: 600;

}
input[type=submit]:hover{
  cursor: pointer;
}
.current-temperature{
  font-weight: 700;
  font-size: 54px;
  right: px;
}